---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Intro from "../blocks/Intro.astro";
import Experience from "../blocks/Experience.astro";
import About from "../blocks/About.astro";
---

<Layout>
  <main>
    <Intro />
    <Experience />
    <About />
  </main>
</Layout>
