<li
  class="flex flex-col items-center gap-2 md:gap-4 bg-gray-700 rounded-2xl bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))] p-3 dark:bg-transparent"
  title="WordPress"
>
  <slot />
  <p class="text-xs lg:text-lg font-medium text-blue-100">
    {Astro.props.label}
  </p>
</li>
