---
import Container from "../components/Container.astro";
---

<section
  id="sobre-mi"
  data-section="sobre-mi"
  class="section undefined scroll-m-20 py-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl"
>
  <Container>
    <h2
      class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white undefined"
    >
      <svg
        class="size-8"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path><path
          d="M6 21v-2a4 4 0 0 1 4 -4h4"></path><path d="M15 19l2 2l4 -4"
        ></path></svg
      >
      Sobre mí
    </h2>
    <article
      class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
    >
      <div
        class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
      >
        <p>
          Me llamo Alejandro Figueroa pero mis amigos me llaman Alex. Soy un
          desarrollador web con +20 años de trayectoria construyendo y liderando
          la creación de soluciones web de alto rendimiento. Mi carrera abarca
          desde el desarrollo Full-Stack hasta la gestión de ingeniería, con una
          profunda especialización y pasión por el ecosistema Front-End. <strong
            >Domino tecnologías clave como JavaScript, HTML, CSS, WordPress,
            React, Astro y Tailwind CSS</strong
          >, junto con una sólida experiencia en Back-End con PHP, MySQL y
          MongoDB.
        </p>
        <p>
          Como Engineering Manager en mi rol anterior, mi mayor logro fue
          transformar la capacidad productiva del equipo de desarrollo. Diseñé e
          implementé un sistema de diseño y desarrollo unificado desde cero,
          estandarizando el stack tecnológico y optimizando los flujos de
          trabajo. Esta estrategia resultó en <strong
            >triplicar la velocidad de producción en los primeros dos meses</strong
          > y mantener un <strong
            >aumento sostenido del 30% anual durante 4 años consecutivos</strong
          >, permitiendo al equipo de ventas escalar la adquisición de nuevos
          clientes de manera exponencial.
        </p>
        <h3
          class="flex items-center mb-6 text-2xl font-semibold gap-x-3 text-black/80 dark:text-white undefined"
        >
          Logros
        </h3>
        <p>
          Ideé y ejecuté una estrategia de estandarización tecnológica, creando
          un sistema de diseño y desarrollo interno que resultó en <strong
            >triplicar la velocidad de producción</strong
          > del equipo en los primeros 2 meses.
        </p>
        <p>
          Logré un <strong
            >crecimiento de productividad sostenido del 30% anual durante 4 años</strong
          > consecutivos a través de la mejora continua de herramientas y la formación
          del equipo.
        </p>
        <p>
          Lideré el desarrollo de sitios WordPress de alta complejidad y
          eficiencia desde cero, sin dependencias externas, <strong
            >garantizando un código propietario, seguro y de máximo rendimiento</strong
          >.
        </p>
        <p>
          Actualmente, busco un rol como desarrollador Senior donde pueda
          aplicar mi vasta experiencia técnica para resolver desafíos complejos
          y construir productos excepcionales. <strong
            >Además, me apasiona profundamente la mentoría y compartir mi
            conocimiento con las nuevas generaciones de desarrolladores</strong
          >, creando equipos donde la excelencia técnica y el crecimiento
          personal y profesional son la norma.
        </p>
      </div>
    </article>
  </Container>
</section>
