---
import Container from "../components/Container.astro";
---

<div class="space-y-24">
  <Container>
    <section
      id="experiencia"
      data-section="experiencia"
      class="section undefined scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl"
    >
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white undefined"
      >
        <svg
          class="size-8"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"
          ></path><path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2"
          ></path><path d="M12 12l0 .01"></path><path d="M3 13a20 20 0 0 0 18 0"
          ></path></svg
        >
        Experiencia laboral
      </h2>
      <ol class="relative mt-16">
        <li class="">
          <div
            class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-black/20 dark:before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]"
          >
            <div class="relative pb-12 md:col-span-2">
              <div class="sticky top-0">
                <span
                  class="text-yellow-400 -left-[42px] absolute rounded-full text-5xl"
                  >•</span
                >
                <h3 class="text-xl font-bold text-yellow-400">
                  Director de Desarrollo Web
                </h3>
                <h4 class="font-semibold text-xl text-gray-600 dark:text-white">
                  <a
                    class="underline hover:text-blue-500"
                    href="https://lawrank.com"
                    rel="noreferrer"
                    target="_blank">LawRank SEO Marketing</a
                  >
                </h4>
                <time
                  class="p-0 m-0 text-sm text-gray-600/80 dark:text-white/80"
                  >Enero 2021 - Abril 2025</time
                >
                <p class="p-0 m-0 text-sm text-gray-600/80 dark:text-white/80">
                  CDMX | GDL, México.
                </p>
              </div>
            </div>
            <div class="pb-4 text-gray-600 dark:text-gray-300 md:col-span-3">
              Responsable de la dirección estratégica y tecnológica, la
              planificación, el desarrollo, mantenimiento y ejecución eficiente
              de +200 sitios y aplicaciones web en línea.<br /><br />
              Liderazgo, reclutamiento, formación y supervisión del equipo de desarrolladores.
              Comunicación estrecha con el equipo de diseño UI/UX. Integración efectiva
              de herramientas IA. Gestión de los ciclos de desarrollo y vida de los
              proyectos. <br /><br />
              Garantizar los estándares técnicos y de calidad en colaboración y comunicación
              eficiente en Inglés y Español con la dirección y liderazgo internos,
              socios y proveedores externos para alinear las iniciativas web con
              los requerimientos del negocio y objetivos de clientes del ámbito legal
              en E.U.A..
            </div>
          </div>
        </li>
        <li>
          <div
            class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-black/20 dark:before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]"
          >
            <div class="relative pb-12 md:col-span-2">
              <div class="sticky top-0">
                <span
                  class="text-yellow-400 -left-[42px] absolute rounded-full text-5xl"
                  >•</span
                >
                <h3 class="text-xl font-bold text-yellow-400">
                  Desarrollador Frontend Senior
                </h3>
                <h4 class="font-semibold text-xl text-gray-600 dark:text-white">
                  <a
                    class="underline hover:text-blue-500"
                    href="https://www.facebook.com/devconsultores/"
                    rel="noreferrer"
                    target="_blank">DEV Consultores</a
                  >
                </h4>
                <time
                  class="p-0 m-0 text-sm text-gray-600/80 dark:text-white/80"
                  >Septiembre 2012 - Septiembre 2020</time
                >
                <p class="p-0 m-0 text-sm text-gray-600/80 dark:text-white/80">
                  GDL, México.
                </p>
              </div>
            </div>
            <div
              class="relative flex flex-col gap-2 pb-4 text-gray-600 dark:text-gray-300 md:col-span-3"
            >
              Responsable del desarrollo la plataforma y app UGC. Producción de
              componentes modulares y utilidades para la creación de contenido
              web. Mejora de un 35% en la entrega de software. <br /><br
              />Implementación y monitoreo de medidas de estabilidad,
              eficiencia, optmización SEO y campañas de Google AdSense.
              Integración rápida y continua. Despliegue con grupos A/B testing
              en más de 20 sitios de noticias y virales y entretenimiento de muy
              alto tráfico.
            </div>
          </div>
        </li>

        <li>
          <div
            class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-black/20 dark:before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]"
          >
            <div class="relative pb-12 md:col-span-2">
              <div class="sticky top-0">
                <span
                  class="text-yellow-400 -left-[42px] absolute rounded-full text-5xl"
                  >•</span
                >
                <h3 class="text-xl font-bold text-yellow-400">
                  Desarrollador WordPress
                </h3>
                <h4 class="font-semibold text-xl text-gray-600 dark:text-white">
                  <a
                    class="underline hover:text-blue-500"
                    href="https://estrasol.com.mx/"
                    target="_blank">Estrasol</a
                  >
                </h4>
                <time
                  class="p-0 m-0 text-sm text-gray-600/80 dark:text-white/80"
                  >Mayo 2011 - Agosto 2012</time
                >
                <p class="p-0 m-0 text-sm text-gray-600/80 dark:text-white/80">
                  GDL, México.
                </p>
              </div>
            </div>
            <div
              class="relative flex flex-col gap-2 pb-4 text-gray-600 dark:text-gray-300 md:col-span-3"
            >
              Desarrollo de temas y plugins de WordPress personalizados para
              sitios web corporativos e E-Commerce. Colaboración cercana con los
              equipos de contenido y diseño en estrategias de comunicación y
              UI/UX.
            </div>
          </div>
        </li>
      </ol>
    </section>
  </Container>
</div>
