---
import Container from "../components/Container.astro";
import TechItem from "../components/TechItem.astro";
import AstroIcon from "../logos/AstroIcon.astro";
import WordPress from "../logos/WordPress.astro";
import Bash from "../logos/Bash.astro";
import Bootstrap from "../logos/Bootstrap.astro";
import Css from "../logos/Css.astro";
import ESLint from "../logos/ESLint.astro";
import Expo from "../logos/Expo.astro";
import Git from "../logos/Git.astro";
import Github from "../icons/Github.astro";
import GithubCopilot from "../logos/GithubCopilot.astro";
import Figma from "../logos/Figma.astro";
import XD from "../logos/XD.astro";
import Sketch from "../logos/Sketch.astro";
import HTML5 from "../logos/HTML5.astro";
import Browser from "../icons/Browser.astro";
import Javascript from "../logos/Javascript.astro";
import JQuery from "../logos/jQuery.astro";
import JSON from "../logos/JSON.astro";
import MUI from "../logos/MUI.astro";
import NextJS from "../logos/NextJS.astro";
import NodeJS from "../logos/NodeJS.astro";
import NPM from "../logos/NPM.astro";
import PHP from "../logos/PHP.astro";
import React from "../logos/React.astro";
import ReactRouter from "../logos/ReactRouter.astro";
import Sass from "../logos/Sass.astro";
import ShadCN from "../logos/ShadCN.astro";
import Slack from "../logos/Slack.astro";
import SublimeText from "../logos/SublimeText.astro";
import Tailwind from "../logos/Tailwind.astro";
import TypeScript from "../logos/TypeScript.astro";
import Ubuntu from "../logos/Ubuntu.astro";
import Vite from "../logos/Vitejs.astro";
import VSCode from "../logos/VSCode.astro";
import Vue from "../logos/Vue.astro";
import WebGL from "../logos/WebGL.astro";
---

<Container>
  <section id="experiencia" data-section="experiencia" class="section">
    <h2
      class="py-16 flex items-center mb-2 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white undefined"
    >
      <Browser />
      Tecnología y Herramientas
    </h2>
    <ul
      class="items grid grid-cols-5 md:grid-cols-6 lg:grid-cols-6 grid-flow-row gap-y-6 lg:gap-y-8 gap-x-3 text-center"
    >
      <TechItem label="WordPress">
        <WordPress class="md:w-14 md:h-14 lg:w-18 lg:h-18" />
      </TechItem>
      <TechItem label="Astro">
        <AstroIcon class="md:w-14 md:h-14 lg:w-18 lg:h-18" />
      </TechItem>
      <TechItem label="Bash">
        <Bash class="md:w-14 md:h-14 lg:w-18 lg:h-18" />
      </TechItem>
      <TechItem label="Bootstrap">
        <Bootstrap class="md:w-14 md:h-14 lg:w-18 lg:h-18" />
      </TechItem>
      <TechItem label="CSS">
        <Css class="md:w-14 md:h-14 lg:w-18 lg:h-18" />
      </TechItem>
      <TechItem label="ESLint">
        <ESLint class="md:w-14 md:h-14 lg:w-18 lg:h-18" />
      </TechItem>
      <TechItem label="Expo">
        <Expo class="md:w-14 md:h-14 lg:w-18 lg:h-18" />
      </TechItem>
      <TechItem label="Git">
        <Git class="md:w-14 md:h-14 lg:w-18 lg:h-18" />
      </TechItem>
      <TechItem label="Github">
        <Github class="w-8 h-8" class="md:w-14 md:h-14 lg:w-18 lg:h-18" />
      </TechItem>
      <TechItem label="Copilot">
        <GithubCopilot class="md:w-14 md:h-14 lg:w-18 lg:h-18" />
      </TechItem>
      <TechItem label="Figma">
        <Figma class="md:w-14 md:h-14 lg:w-18 lg:h-18" />
      </TechItem>
      <TechItem label="Sketch">
        <Sketch class="md:w-14 md:h-14 lg:w-18 lg:h-18" />
      </TechItem>
      <TechItem label="Adobe XD">
        <XD class="md:w-14 md:h-14 lg:w-18 lg:h-18" />
      </TechItem>
      <TechItem label="HTML5">
        <HTML5 class="md:w-14 md:h-14 lg:w-18 lg:h-18" />
      </TechItem>
      <TechItem label="Javascript">
        <Javascript class="md:w-14 md:h-14 lg:w-18 lg:h-18" />
      </TechItem>
      <TechItem label="JQuery">
        <JQuery class="md:w-14 md:h-14 lg:w-18 lg:h-18" />
      </TechItem>
      <TechItem label="JSON">
        <JSON class="md:w-14 md:h-14 lg:w-18 lg:h-18" />
      </TechItem>
      <TechItem label="MUI">
        <MUI class="md:w-14 md:h-14 lg:w-18 lg:h-18" />
      </TechItem>
      <TechItem label="NextJS">
        <NextJS class="md:w-14 md:h-14 lg:w-18 lg:h-18" />
      </TechItem>
      <TechItem label="NodeJS">
        <NodeJS class="md:w-14 md:h-14 lg:w-18 lg:h-18" />
      </TechItem>
      <TechItem label="NPM">
        <NPM class="md:w-14 md:h-14 lg:w-18 lg:h-18" />
      </TechItem>
      <TechItem label="PHP">
        <PHP class="md:w-14 md:h-14 lg:w-18 lg:h-18" />
      </TechItem>
      <TechItem label="React">
        <React class="md:w-14 md:h-14 lg:w-18 lg:h-18" />
      </TechItem>
      <TechItem label="ReactRouter">
        <ReactRouter class="md:w-14 md:h-14 lg:w-18 lg:h-18" />
      </TechItem>
      <TechItem label="Sass">
        <Sass class="md:w-14 md:h-14 lg:w-18 lg:h-18" />
      </TechItem>
      <TechItem label="ShadCN">
        <ShadCN class="md:w-14 md:h-14 lg:w-18 lg:h-18" />
      </TechItem>
      <TechItem label="Sketch">
        <Sketch class="md:w-14 md:h-14 lg:w-18 lg:h-18" />
      </TechItem>
      <TechItem label="Slack">
        <Slack class="md:w-14 md:h-14 lg:w-18 lg:h-18" />
      </TechItem>
      <TechItem label="SublimeText">
        <SublimeText class="md:w-14 md:h-14 lg:w-18 lg:h-18" />
      </TechItem>
      <TechItem label="Tailwind">
        <Tailwind class="md:w-14 md:h-14 lg:w-18 lg:h-18" />
      </TechItem>
      <TechItem label="TypeScript">
        <TypeScript class="md:w-14 md:h-14 lg:w-18 lg:h-18" />
      </TechItem>
      <TechItem label="Ubuntu">
        <Ubuntu class="md:w-14 md:h-14 lg:w-18 lg:h-18" />
      </TechItem>
      <TechItem label="Vite">
        <Vite class="md:w-14 md:h-14 lg:w-18 lg:h-18" />
      </TechItem>
      <TechItem label="VS Code">
        <VSCode class="md:w-14 md:h-14 lg:w-18 lg:h-18" />
      </TechItem>
      <TechItem label="Vue">
        <Vue class="md:w-14 md:h-14 lg:w-18 lg:h-18" />
      </TechItem>
      <TechItem label="WebGL">
        <WebGL class="md:w-14 md:h-14 lg:w-18 lg:h-18" />
      </TechItem>
    </ul>
  </section>
</Container>
